@import "tailwindcss";

/* Import fonts */
@font-face {
  font-family: "Tangerine";
  src: url("./assets/fonts/Tangerine-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter_18pt-Regular.ttf") format("opentype");
}

/* Utility class for Tangerine font */
.font-tangerine {
  font-family: "Tangerine", sans-serif;
}

/* Set Inter as default font */
body {
  font-family: "Inter", sans-serif;
}
